@import '../../styles/variables';

.button-genre {
  margin-right: 1rem;
  padding: 0.5em 1em;
  border: none;
  background-color: $background-color;
  color: $text-color;
  border-radius: 1.5rem;
  border: 2px solid $text-color;
  font-weight: bold;
  font-size: 0.8rem;
  cursor: pointer;
}