.movie-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  width: 90%;
  margin: 50px auto;

  
  .movie-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
  }
}