@import '../../styles/variables';

.modal {
	// width: clamp(80%, 700px, 90%);
	// height: min(80%, 300px);
	width: 80%;
	height: 80%;
	margin: auto;
	border-radius: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;

	.modal-movie-detail-container {
		display: flex;
		flex-direction: column;
		color: #fff;
		width: 80%;
		height: 80%;
		margin: auto;

		.modal-movie-detail-heading {
			margin-bottom: 0.5rem;

      span {
        margin-right: 0.5rem;
      }
		}

		.modal-movie-detail-subheading {
      margin-bottom: 0.5rem;
			span {
				margin-right: 0.5rem;
			}
		}

    .modal-movie-detail-people {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
      font-style: italic;
      font-weight: 300;

      .modal-movie-detail-director {
        
      }

      .modal-movie-detail-casts {

      }
    }

    .modal-movie-detail-overview {
      margin-bottom: 2rem;
			h3 {
				margin-bottom: 0.5rem;
			}
		}
	}
}
