@import '../../styles/variables';

.modal {
	// width: clamp(80%, 700px, 90%);
	// height: min(80%, 300px);
	width: 80%;
	height: 80%;
	margin: auto;
	border-radius: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;

	.modal-movie-detail-container {
		display: flex;
		flex-direction: column;
		color: #fff;
		width: 80%;
		height: 80%;
		margin: auto;

		.modal-movie-detail-heading {
			display: flex;
			justify-content: space-between;
			margin-bottom: 0.5rem;

			span {
				margin-right: 0.5rem;
			}
		}

		.modal-movie-detail-subheading {
			margin-bottom: 0.5rem;
			span {
				margin-right: 0.5rem;
			}
		}

		.modal-movie-detail-people {
			display: flex;
			flex-direction: column;
			margin-bottom: 1.5rem;
			font-size: 0.9rem;
			font-style: italic;
			font-weight: 300;
		}

		.modal-movie-detail-overview {
			margin-bottom: 2rem;

			div {
				font-size: 1.2rem;
				font-weight: 700;
				margin-bottom: 0.5rem;
			}
		}
	}
}

.modal-movie-detail-trailer {
  display: flex;
  justify-content: center;
	align-items: center;
	position: fixed;
	// top: auto;
	// left: auto;
  width: 50%;
  height: 50%;

  .trailer-youtube {
    width: 100%;
    height: 100%;
  }

  .no-trailer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    background-color: #000000e1;
  }
}
