@import '../../../styles/variables';

.slider {
	position: relative;
	top: 70px;
	margin: 1.5rem 4%;

	.slider-title {
		font-size: 1.2rem;
		font-style: italic;
		font-weight: 700;
	}

	.slider-container {
		display: flex;
		overflow: hidden;

		.swiper-button-prev,
		.swiper-button-next {
			color: $text-color;

			&:hover {
				transition: all 0.2s ease-in-out;
				transform: scale(1.2);
			}
		}

		.swiper-wrapper {
			padding: 20px 0;

			.swiper-slide {
				&:hover {
					transition: all 0.2s ease-in-out;
					transform: scale(1.1);
				}

				&:first-child:hover,
				&:nth-child(11):hover {
					margin: 0 10px;
				}

				&:nth-child(10):hover,
				&:last-child:hover {
					margin: 0 -10px;
				}

				.slider-poster {
					display: block;
					width: 100%;
					border-radius: 1.2rem;
				}
			}
		}
	}
}
