.slider {
	// background-color: lightblue;
	// border: 1px solid magenta;
	// width: 90%;
	margin: 1.5rem 4%;

	.slider-title {
		font-size: 1.2rem;
		margin-bottom: 1rem;
	}

	.slider-container {
		display: flex;
		overflow: hidden;

		.swiper {
			width: 100%;
			height: 100%;
		}

		.swiper-slide {

      .slider-poster {
        display: block;
        width: 100%;
        height: 100%;
      }
		}

		// .slider-poster {
		// 	width: 20%;
		// 	margin-right: 0.5rem;
		// }
	}
}
