@import '../../../styles/variables';

.slider {
	// background-color: lightblue;
	// border: 1px solid magenta;
	// width: 90%;
	margin: 1.5rem 4%;

	.slider-title {
		font-size: 1.2rem;
		font-style: italic;
		font-weight: 700;
	}

	.slider-container {
		display: flex;
		overflow: hidden;

		.swiper-button-prev,
		.swiper-button-next {
			color: $text-color;

			&:hover {
				transition: all 0.2s ease-in-out;
				transform: scale(1.2);
			}
		}

		.swiper-wrapper {
			padding: 20px 0;

			.swiper-slide {

				&:hover {
					transition: all 0.2s ease-in-out;
					transform: scale(1.1);
				}

				&:first-child:hover {
					margin: 0 10px;
				}

        &:nth-child(6):hover,
        &:nth-child(11):hover,
        &:nth-child(16):hover {
          margin: 0 -10px;
        }

        &:last-child:hover {
          margin: 0 -10px;
        }

				.slider-poster {
					display: block;
					width: 100%;
					border-radius: 1.2rem;
				}
			}

		}
	}
}
