@import '../../styles/variables';

.navbar {
  width: 100%;
  background-color: $background-color;
  position: fixed;
  background: $background-color;
  z-index: 999;
  // background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.3) 50%);
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    height: 68px;
    margin: 0 auto;

    .navbar-item {
      margin-right: 1rem;

      &:hover {
        color: #656565;
      }

      &.active {
        color: #fff;
        font-weight: 700;
        border-bottom: 1.5px solid #fff;
      }
    }
  }
}